<div class="form-container">
  <form [formGroup]="signup" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label>Email: </label>
      <input type="email" id="email" placeholder="Email" formControlName="email" />
    </div>

    <div class="input-group">
      <label>Password: </label>
      <input type="password" id="password" placeholder="Password" formControlName="password" />
    </div>

    <div class="input-group">
      <label>Confirm Password: </label>
      <input type="password" id="confirmPassword" placeholder="Retype Your Password"
        formControlName="confirmPassword" />
    </div>


    <div id="paragraphs">
      <p>
        <label [ngStyle]="{'color': !email.value  ? 'red' : 'green' }">Email is not empty </label>
        <label [ngStyle]="{'color': signup.controls['email'].hasError('incorrectEmailFormat')|| !email.value ? 'red' : 'green' }">Email is valid
        </label>
      </p>
      <p>
        <label
          [ngStyle]="{'color': signup.controls['password'].hasError('missingRegularLetter') || !password.value ? 'red' : 'green' }">Has
          regular letter </label>
        <label
          [ngStyle]="{'color': signup.controls['password'].hasError('missingCapitalLetter') || !password.value ? 'red' : 'green' }">Has
          Capital letter </label>
      </p>
      <p>
        <!-- <div *ngIf="signup.invalid; else templateName">
          If isValid is true
      </div>
      
      <ng-template #templateName>
          If isValid is false
      </ng-template> -->

        <label
          [ngStyle]="{'color': signup.controls['password'].hasError('missingNumber') || !password.value ? 'red' : 'green' }">Number
        </label>
        <label
          [ngStyle]="{'color': signup.controls['password'].hasError('lengthShorterThan6')  || !password.value ? 'red' : 'green' }">At
          least 6 </label>
      </p>
    </div>

    <button [disabled]="signup.invalid" type="submit">Submit</button>
  </form>
</div>